{% extends 'login/base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    Login
{% endblock %}

{% block body %}


    <div class="container-fluid bg-primary text-center mt-4">
        <div class="row align-items-center justify-content-center text-white">
            <div class="col-12">
                <h1 class="display-2 pt-5 mt-6">Login</h1>
            </div>
            <div class="col-12">
                <p class="fw-bold fs-3 mb-5">Create or Log In to an Existing Account!</p>
            </div>
            {% for key, value in form.errors.items %}
                 <div class="alert alert-danger">
                     {{ key }}: {{ value }}
                 </div>
            {% endfor %}
        </div>
    </div>

    <div class="container py-5 px-3 my-4 shadow border border-1 rounded bg-white">


                    <div class="card mb-3 mx-0">
                             <div class="row g-0 ">
                                     <div class="card-body">
                                             <div class="row my-3">
                                                <p class="fw-bold fs-3 mb-2">Login</p>
                                                <form action="{% url 'login' %}" method="post">
                                                    {% csrf_token %}
                                                    {{ form|crispy }}
                                                    <button type="submit" class="btn btn-primary my-3">Login</button>
                                                </form>

                                            </div>
                                    </div>

                             </div>
                    </div>
    </div>





{% endblock %}