{% extends 'ticketmaster/base.html' %}
{% block body %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom border-body fixed-top justify-content-center "
         data-bs-theme="dark">
        <div class="container">
            <a class="navbar-brand" href="#">Ticketmaster App</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav ms-auto w-100 justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'ticketmaster-index' %}">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'ticketmaster-favorites' %}"
                           method="GoTo">Favorite Events</a>
                    </li>
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Create Account or Login
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'create-account' %}">Create Account</a></li>
                        <li><a class="dropdown-item" href="{% url 'login' %}">Login</a></li>
                    </ul>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'logout' %}"
                           method="logout">Logout</a>
                    </li>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid bg-primary text-center ">
        <div class="row align-items-center justify-content-center text-white ">
            <div class="col-12 ">
                <h1 class="display-2 mt-5">Favorites Page</h1>
            </div>
            <div class="col-12">
                <p class="fw-bold fs-1 mb-5">Here is your favorite events!</p>
            </div>


        </div>
        {#        <div class="row align-items-center justify-content-center text-white">#}
        {#            <div class=" col-7">#}
        {#                <form action="{% url 'ticketmaster-index' %}" method="post">#}
        {#                    {% csrf_token %}#}
        {#                    <div class="input-group mb-3">#}
        {##}
        {#                        <input type="text" class="form-control" placeholder="Search by genre,artist or event"#}
        {#                               aria-label="classification" id="classification" name="classificationName">#}
        {##}
        {##}
        {#                        <!--  <span class="input-group-text"></span>-->#}
        {##}
        {##}
        {#                        <input type="text" class="form-control" placeholder="Enter a city e.g. Hartford"#}
        {#                               aria-label="city"#}
        {#                               id="city" name="city">#}
        {##}
        {#                        <button class="btn btn-outline-secondary btn-danger text-white" type="submit"#}
        {#                                id="button-addon2">#}
        {#                            Submit#}
        {#                        </button>#}
        {##}
        {#                    </div>#}
        {#                </form>#}
        {##}
        {##}
        {#            </div>#}
        {##}
        {#        </div>#}
        {% comment %}
                Iterate over each message in the messages list in case there is an error
            {% endcomment %}
        {% for message in messages %}
            <div class="alert alert-danger" role="alert">
                <h4>{{ message }}</h4>
            </div>
        {% endfor %}
    </div>

    {% comment %}
                Show the section below if "users" array is passed from views.py via context variable. If so, then iterate over each user
            {% endcomment %}
    {% if events %}
        <div class="container  text-center my-3 justify-content-center ">
            <div class="row  justify-content-center">
                <div class="row bg-white align-items-center justify-content-center  shadow p-0 col-lg-9 col-12"
                     id="results">
                    {% for event in events %}
                        {% comment %}      <div class="row  justify-content-center"> {% endcomment %}
                        <div class=" col-12">
                            <div class="card h-100 my-3  shadow justify-content-center">
                                <div class="row g-0  align-items-center justify-content-center text-start">
                                    <div class="col-lg-4">
                                        <img class="card-img rounded " src="{{ event.eventImage }}"
                                             alt="profile-image">
                                    </div>
                                    <div class="col-lg-8">
                                        <div class="card-body">
                                            <div class="row g-0  align-items-start justify-content-center text-start">
                                                <div class="col-6 pt-4">
                                                    <h4 class="card-title">{{ event.eventName }}</h4>
                                                    <h5 class="card-text text-secondary my-4">{{ event.venueName }}</h5>
                                                    <p class="card-text text-secondary mb-0 pb-0">{{ event.venueAddress }}</p>
                                                    <p class="card-text text-secondary mt-0 pt-0">{{ event.venueCity }},
                                                        {{ event.venueState }}</p>
                                                    <a href="{{ event.eventUrl }}" target="#">
                                                        <button type="button" class="btn bg-primary text-white">
                                                            Find
                                                            tickets
                                                        </button>
                                                    </a>

                                                </div>
                                                <div class="col-6 text-success text-end fw-bold">
                                                    <h3 class="card-text  ">{{ event.startDate }}</h3>
                                                    <p class="card-text fs-5">{{ event.localTime }}</p>


                                                    <a href="{% url 'ticketmaster-update-favorite' event.id %}"
                                                       method="" class="update-icon">
                                                        <button type="button" class="btn btn-success">
                                                            <svg xmlns="http://www.w3.org/2000/svg" height="16"
                                                                 width="16" viewBox="0 0 512 512">
                                                                <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.-->
                                                                <path d="M471.6 21.7c-21.9-21.9-57.3-21.9-79.2 0L362.3 51.7l97.9 97.9 30.1-30.1c21.9-21.9 21.9-57.3 0-79.2L471.6 21.7zm-299.2 220c-6.1 6.1-10.8 13.6-13.5 21.9l-29.6 88.8c-2.9 8.6-.6 18.1 5.8 24.6s15.9 8.7 24.6 5.8l88.8-29.6c8.2-2.7 15.7-7.4 21.9-13.5L437.7 172.3 339.7 74.3 172.4 241.7zM96 64C43 64 0 107 0 160V416c0 53 43 96 96 96H352c53 0 96-43 96-96V320c0-17.7-14.3-32-32-32s-32 14.3-32 32v96c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V160c0-17.7 14.3-32 32-32h96c17.7 0 32-14.3 32-32s-14.3-32-32-32H96z"></path>
                                                            </svg>
                                                        </button>
                                                    </a>
                                                    <a href="{% url 'ticketmaster-delete-favorite' event.id %}"
                                                       method="">
                                                        <button type="button" class="btn btn-success">
                                                            <svg xmlns="http://www.w3.org/2000/svg" height="16"
                                                                 width="14" viewBox="0 0 448 512">
                                                                <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.-->
                                                                <path d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"></path>
                                                            </svg>
                                                        </button>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    {% endfor %}
                <a href="{% url 'ticketmaster-create-favorite' %}" class="btn btn-success"><i class="fas fa-plus"></i> Add a new Event</a>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}