{% extends 'ticketmaster/base.html' %}
{% block body %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom border-body fixed-top justify-content-center " data-bs-theme="dark">
        <div class="container">
            <a class="navbar-brand" href="#">Ticketmaster App</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav ms-auto w-100 justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'ticketmaster-index' %}">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'ticketmaster-favorites' %}" method="GoTo">Favorite Events</a>
                    </li>
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Create Account or Login
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url 'create-account' %}">Create Account</a></li>
                            <li><a class="dropdown-item" href="{% url 'login' %}">Login</a></li>
                        </ul>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'logout' %}" method="logout">Logout</a>
                        </li>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid bg-primary text-center ">
        <div class="row align-items-center justify-content-center text-white ">
            <div class="col-12 ">
                <h1 class="display-2 mt-5">Ticketmaster</h1>
            </div>
            <div class="col-12">
                <p class="fw-bold fs-1 mb-5">Quickly find tickets around you</p>
            </div>


        </div>
        <div class="row align-items-center justify-content-center text-white">
            <div class=" col-7">
                <form action="{% url 'ticketmaster-index' %}" method="post">
                    {% csrf_token %}
                    <div class="input-group mb-3">

                        <input type="text" class="form-control" placeholder="Search by genre,artist or event"
                               aria-label="classification" id="classification" name="classificationName">


                        <!--  <span class="input-group-text"></span>-->


                        <input type="text" class="form-control" placeholder="Enter a city e.g. Hartford"
                               aria-label="city"
                               id="city" name="city">

                        <button class="btn btn-outline-secondary btn-danger text-white" type="submit"
                                id="button-addon2">
                            Submit
                        </button>

                    </div>
                </form>


            </div>

        </div>
        {% comment %}
                Iterate over each message in the messages list in case there is an error
            {% endcomment %}
        {% for message in messages %}
            <div class="alert alert-danger" role="alert">
                <h4>{{ message }}</h4>
            </div>
        {% endfor %}
    </div>

    {% comment %}
                Show the section below if "users" array is passed from views.py via context variable. If so, then iterate over each user
            {% endcomment %}
    {% if events %}
        <div class="container  text-center my-3 justify-content-center ">
            <div class="row  justify-content-center">
                <div class="row bg-white align-items-center justify-content-center  shadow p-0 col-lg-9 col-12"
                     id="results">
                    {% for event in events %}
                        {% comment %}      <div class="row  justify-content-center"> {% endcomment %}
                        <div class=" col-12">
                            <div class="card h-100 my-3  shadow justify-content-center">
                                <div class="row g-0  align-items-center justify-content-center text-start">
                                    <div class="col-lg-4">
                                        <img class="card-img rounded " src="{{ event.eventImage }}"
                                             alt="profile-image">
                                    </div>
                                    <div class="col-lg-8">
                                        <div class="card-body">
                                            <div class="row g-0  align-items-start justify-content-center text-start">
                                                <div class="col-6 pt-4">
                                                    <h4 class="card-title">{{ event.eventName }}</h4>
                                                    <h5 class="card-text text-secondary my-4">{{ event.venueName }}</h5>
                                                    <p class="card-text text-secondary mb-0 pb-0">{{ event.venueAddress }}</p>
                                                    <p class="card-text text-secondary mt-0 pt-0">{{ event.venueCity }},
                                                        {{ event.venueState }}</p>
                                                    <a href="{{ event.eventUrl }}" target="#">
                                                        <button type="button" class="btn bg-primary text-white">
                                                            Find
                                                            tickets
                                                        </button>
                                                    </a>

                                                </div>
                                                <div class="col-6 text-success text-end fw-bold">
                                                    <h3 class="card-text  ">{{ event.startDate }}</h3>
                                                    <p class="card-text fs-5">{{ event.localTime }}</p>

                                                    <a href="{% url 'ticketmaster-add-favorite' event.id %}" method="">
                                                        <button type="button" class="btn btn-success">
                                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                                                          <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"></path>
                                                        </svg>
                                                        </button>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}